In [ ]:
!git clone https://github.com/GoldenRMT/WikiSearch.git
!pip install googledrivedownloader

Cloning into 'WikiSearch'...
remote: Enumerating objects: 96, done.
remote: Counting objects: 100% (96/96), done.
remote: Compressing objects: 100% (89/89), done.
remote: Total 96 (delta 33), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (96/96), done.
Requirement already satisfied: googledrivedownloader in /usr/local/lib/python3.7/dist-packages (0.4)

In [ ]:
import WikiSearch.wikipedia.wikipedia as wikipedia
from google_drive_downloader import GoogleDriveDownloader as gdd

gdd.download_file_from_google_drive(file_id='1L71Q7c8gW0UoZxzwnJnbup2FsRrKj5I2',
                                    dest_path='/Data/AIIJC/test.csv')
gdd.download_file_from_google_drive(file_id='1-0qy8t9c0y7lqdT4x_bUHxOQ5dvltWjh',
                                    dest_path='/Data/AIIJC/train.csv')

Downloading 1L71Q7c8gW0UoZxzwnJnbup2FsRrKj5I2 into /Data/AIIJC/test.csv... Done.
Downloading 1-0qy8t9c0y7lqdT4x_bUHxOQ5dvltWjh into /Data/AIIJC/train.csv... Done.

In [ ]:
import pandas as pd
train = pd.read_csv("/Data/AIIJC/train.csv",index_col=0, error_bad_lines=False,sep=";")
train

                                               question                                             answer
id
1     What is the name of the locality that was name...                                            Antiene
2     Who was the first woman to be selected as a Ti...                                      Mary Sullivan
3     What 15th century friar was a notable writer a...                                   Kanutus Johannis
4                     What does the Unstrut river form?  the border between the Canton of St. Gallen, t...
5               Who was the eighteenth Shah of Shirvan?                                 Afridun the Martyr
...                                                 ...                                                ...
3996                    What is the street named after?                            Alexandre-Antonin Taché
3997               Who was the student of Joseph Beuys?                                    Anatol Herzfeld
3998  What is the name of the technology that has be...                                     Village Tronic
3999  Where was the 1923–24 Northern Football League...             Manchester United's Gillingham Stadium
4000      What is the name of Dope Stars' second album?                                         Gigahearts

[4000 rows x 2 columns]

In [ ]:
train['link_1'] = ''
train['link_2'] = ''
for i in range(len(train)):
  data = wikipedia.search(train.iloc[i].question,results=2)

  try:
    train.link_1.iloc[i] = data[0]
  except:
    train.link_1.iloc[i] = '-'

  try:
    train.link_2.iloc[i] = data[1]
  except:
    train.link_2.iloc[i] = '-'

In [ ]:
train.to_csv('newTrain.csv')

In [ ]:
import pandas as pd
test = pd.read_csv("/Data/AIIJC/test.csv",index_col=0, error_bad_lines=False,sep=",")
test

                                               question
id
4001        When was the Dewey County Courthouse built?
4002       What was the candle company founded in 1899?
4003  What is the purpose of the toroidal expansion ...
4004  What was the name of the route it was intended...
4005  What was the main focus of the republican move...
...                                                 ...
6459  How many times has Michael Harry been a Danish...
6460  Who was the earliest to propose the use of gue...
6461                     Howard Anthony Gayle was born?
6462           What is the population of the Satakunta?
6463  What was the name of the storm that caused ext...

[2463 rows x 1 columns]

In [ ]:
test['link_1'] = ''
test['link_2'] = ''
for i in range(10):
  data = wikipedia.search(test.iloc[i].question,results=2)

  try:
    test.link_1.iloc[i] = data[0]
  except:
    test.link_1.iloc[i] = '-'

  try:
    test.link_2.iloc[i] = data[1]
  except:
    test.link_2.iloc[i] = '-'

In [ ]:
test.to_csv('newTest.csv')